html {
  min-height: 101vh;
}

body {
  font-family: "Open Sans", sans-serif !important;
  margin: 0;
}
.catalog-page__title {
  margin: 0;
  font-size: 15px;
}

.product-wrapper {
  display: block;
  transition: width 0.2s;
}

.products {
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product {
  display: flex;
  position: relative;
  flex-direction: column;
  background: rgba(234, 234, 234, 0.49);
  margin-top: 5px;
  padding: 16px 12px 10px;
  height: 430px;
  border-radius: 7px;
  box-sizing: content-box;
}
.single_product {
  position: relative;
  transition: 0.3s;
}

.product__author {
  font-size: 14px;
  transition: color 0.3s;
  color: #7d8290;
}

.product__price {
  margin-bottom: 8px;
}

.product-price__span {
  font-weight: bold;
  font-size: 16px;
}

.product__name {
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  margin: 0;
  max-height: 48px;
  text-decoration: none;
  color: #242424;
  transition: color 0.3s;
}

.product__price {
  margin-bottom: 8px;
}

.product-price__span {
  font-weight: bold;
  font-size: 17px;
}

.product__img {
  margin-bottom: 15px;
  height: 250px;
  width: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__img img {
  max-height: 250px;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}

.icon {
  width: 35px;
  margin: 10px;
}

.product__info a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.product__info a:hover {
  color: #3d70b2;
}

.product__btn:hover {
  background-color: #3d70b2;
  color: #fff;
}

.product__btn {
  position: relative;
  text-transform: none;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
  overflow: hidden;
  transition: opacity 0.3s, color 0.3s, background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  font-family: inherit;
  outline: 0;
  text-decoration: none;
  -webkit-appearance: button;
  /*max-width: 180px;*/
  background-color: #fff;
  color: #242424;
  border: 1px solid #c7ccd7;
  height: 37px;
  line-height: 30px;
  padding: 0 4px;
  font-weight: 400;
  display: flex;
  width: 100%;
  align-items: center;
}

._add {
  background: #3d70b2;
  color: white;
}

._add:hover {
  background-color: #4186df;
}

.product__btn-holder {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.single_product {
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .pp {
    padding: 0;
  }
}
/*
.catalog-page {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}*/

.catalog {
  display: flex;
}

.catalog__sidebar {
  flex: 0 0 194px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 194px;
  margin-right: 30px;
}
@media (min-width: 1200px) {
  .catalog-page .col-xl-2 {
    width: 20%;
  }
}

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}


@keyframes ldio-da2elqe6p98 {
   0% { transform: translate(6px,40px) scale(0); }
  25% { transform: translate(6px,40px) scale(0); }
  50% { transform: translate(6px,40px) scale(1); }
  75% { transform: translate(40px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(1); }
}
@keyframes ldio-da2elqe6p98-r {
   0% { transform: translate(74px,40px) scale(1): }
 100% { transform: translate(74px,40px) scale(0); }
}
@keyframes ldio-da2elqe6p98-c {
   0% { background: #00fff5 }
  25% { background: #049bba }
  50% { background: #4cd4cc }
  75% { background: #aafbfb }
 100% { background: #00fff5 }
}
.ldio-da2elqe6p98 div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(40px,40px) scale(1);
  background: #00fff5;
  animation: ldio-da2elqe6p98 2s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-da2elqe6p98 div:nth-child(1) {
  background: #aafbfb;
  transform: translate(74px,40px) scale(1);
  animation: ldio-da2elqe6p98-r 0.5s infinite cubic-bezier(0,0.5,0.5,1), ldio-da2elqe6p98-c 2s infinite step-start;
}.ldio-da2elqe6p98 div:nth-child(2) {
  animation-delay: -0.5s;
  background: #00fff5;
}.ldio-da2elqe6p98 div:nth-child(3) {
  animation-delay: -1s;
  background: #aafbfb;
}.ldio-da2elqe6p98 div:nth-child(4) {
  animation-delay: -1.5s;
  background: #4cd4cc;
}.ldio-da2elqe6p98 div:nth-child(5) {
  animation-delay: -2s;
  background: #049bba;
}
.loadingio-spinner-ellipsis-t8puem0oyf9 {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
}
.ldio-da2elqe6p98 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-da2elqe6p98 div { box-sizing: content-box; }