<div class="row">
    {% for book in books %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 pp">
        <div class="single_product">
            <div class="product">
                <div class="product__img">
                    <a href="#" class="product__img__a"><img
                            src="{{ url_for('static', filename=book.images[0].filename if book.images else 'image/book/default.png')  }}"
                            alt=""></a>
                </div>
                <div class="product__info">
                    <div class="product__price"><span class="product-price__span">{{ book.price }} руб.</span>
                    </div>
                    <a href="{{ url_for('book', id=book.id) }}" class="product__name"> {{ book.title }}</a>
                    <a href="{{ url_for('author', id=book.author.id)  }}" class="product__author">{{ format_author(book.author) }}</a>
                </div>
                <div class="product__btn-holder">
                    <button class="product__btn js-product__btn" data-id="{{ book.id }}">В корзину
                    </button>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>