{% import 'book_tmp.html' as book_tmp with context %}

{% macro carousel(books, n=1, loop_item=True) -%}
    <div class=" owl-carousel owl-theme" id="owl-{{ n }}">
        {% for book in books %}
            {{ book_tmp.book(book) }}
        {% endfor %}
    </div>
    <script>
        $(document).ready(function () {
            $('owl-carousel').owlCarousel();
        });
        $('#owl-{{ n }}').owlCarousel({
            loop: {% if loop_item %} true {% else %} false {% endif %},
            margin: 5,
            <!--            nav: true,-->
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 2
                },
                800: {
                    items: 3
                },

                1000: {
                    items: 4
                },
                1200: {
                    items: 5
                }
            }
        })
    </script>
{%- endmacro %}