{% extends 'base.html' %}
{% import 'book_tmp.html' as book_tmp with context %}
{% import 'pagination_tmp.html' as pagination_tmp with context %}

{% block content %}

<div class="catalog-page">
    <h1>{{ Поиск }}</h1>
    {% if books %}
    <h3>Результаты по запросу: {{ q }}</h3>
    <p>Всего товаров: {{ total_count }}</p>
    <div class="row">
    {% for book in books %}
        {{ book_tmp.book(book, size=True) }}
    {% endfor %}
    </div>
    {% else %}
    <h1 align="center">Ничего не найдено</h1>
    {% endif %}
</div>
{{ pagination_tmp.pagination(next_url, prev_url, current_page, end_page, first_page, page_url_maker) }}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}