{% extends 'admin/base.html' %}
{% block head %}
    <link rel="icon" href="{{ url_for('static', filename='image/icon/favicon.png') }}">
{% endblock %}

{% block head_meta %}
{{super()}}
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
{% endblock head_meta %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
        <i class="icon-user"></i> {{ current_user.name }} {{ current_user.surname }}
        <span class="caret"></span>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="btn" href="{{ url_for('admin.logout_view') }}">Log out</a>
    </div>
</div>
{% endif %}
{% endblock %}