Ваш заказ №{{ order.id }} {{ order_state_to_text(order.state).lower() }}.

<h4>Список покупок: </h4>
<table width="100%" rules="rows" cellspacing="0" cellpadding="0" border="0"
       id="order_block_mr_css_attr">
    <thead>
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Название</th>
        <th scope="col">Кол-во</th>
        <th scope="col">Стоимость</th>
    </tr>
    </thead>
    <tbody>
    {% for order_product in order.products %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><a href="{{ url_for('book', id=order_product.book.id, _external=True) }}">{{
            order_product.book.title }}</a></td>
        <td>{{ order_product.quantity }}</td>
        <td>{{ order_product.quantity * order_product.price }} р.</td>
    </tr>
    {% endfor %}

    <tr>
        <td></td>
        <td></td>
        <th scope="row">Доставка:</th>
        <td>{{ order.delivery.delivery_price }} р.</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <th scope="row">Итого:</th>
        <td>{{ order.get_order_sum() }} р.</td>
    </tr>
    </tbody>
</table>
<br><br>Вы можете посмотреть историю заказов в своем <a
        href="{{ url_for('orders', _external=True) }}">личном
    кабинете</a>.


<p>
    Для получения информации о заказе, перейдите по <a
        href="{{ url_for('order', order_id=order.id, _external=True) }}"
>ссылке</a>.
</p>

