{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mail_confirm.css') }}">
{% endblock %}

{% block content %}
<section class="mail-success section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="success-inner">
                    <h1>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                             class=".mail-success .success-inner" width="100"
                             fill="#0d6efd">
                            <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                        </svg>

                        <span>Проверьте Вашу электронную почту!</span></h1>
                    Проверочное сообщение Book Store отправлено на адрес <b>{{ email
                    }}</b>. Чтобы подтвердить свой адрес, проверьте входящие сообщения и
                    нажмите на ссылку в соответствующем письме.

                    {% if recent_mail_button %}
                    Если письмо не пришло,
                    проверьте папку для спама или нажмите кнопку «Отправить еще раз». {%
                    endif %}
                    После подтверждения почты Вы сможете
                    <a href="{{ url_for('login') }}">авторизоваться</a>.
                    {% if recent_mail_button %}
                    <p><a href="{{ url_for('recent_confirm_mail', id=id) }}"
                          class="btn btn-primary btn-lg">Отправить
                        еще раз</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}